services:
  tokeping:
    image: ghcr.io/soehlert/tokeping:latest
    container_name: tokeping
    restart: unless-stopped
    volumes:
      - ${TOKEPING_DATA_PATH:-./tokeping-data/config.yaml}:/app/config.yaml
      - ${TOKEPING_DATA_PATH:-./tokeping-data/logs}:/var/log/tokeping
    ports:
      - "8080:8080"
    networks:
      - tokeping_network

networks:
  # Make sure influx is on tokeping_network or use another network influx is on
  tokeping_network:
    driver: bridge